.grid-4{
	display: flex;
	flex-wrap: wrap;
}

.jq1,.jq2, .jq3, .jq4{
	padding: 10%;
	margin: 2%;
}

.jq1{
	background: red;
}
.jq2{
	background: orange;
}
.jq3{
	background: green;
}
.jq4{
	background: pink;
}

@media only screen and (max-width: 600px) {
.jq1,.jq2, .jq3, .jq4, .grid-4 {
	margin: 20%;

  }
}
