body {
	background: #FAEBD7 url('../images/background.jpg');
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */


header h1 {
	padding: 40px 60px;
	font-family: 'Quicksand', sans-serif;
	font-style: #82CBE8;
	font-size: 40px; 
	color: #8FFFB1;
	text-align: center;
}


/* Nav styles */
nav { background-color: lightpink; }
nav ul { 
	display: flex;
	justify-content: flex-end;
	font-family: 'Open Sans', sans-serif;
}
nav li { padding: 10px 10px; }
nav a { color: black; }
nav a:hover { color: blue; }



/* Main styles */
main { 
	background-color: #C2DEFF;
	display: grid;
	grid-template-columns: 60% 40%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 11px;
	font-style: 'bold';
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	font-weight: 10px;

}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
